.container {
    position:absolute;
    top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 25rem;
    height: 25rem;
    background: rgb(143, 255, 118);
    box-shadow: 0 .5rem 1rem rgba(92, 92, 1, 0.4);
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.description {
    display: flex;
    flex-direction: column;

    & input {
        border: none;
        outline: none;
        background: none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 2rem 0 1rem 0;
    }

    & textarea {
        border: none;
        outline: none;
        resize: none;
        background: none;
        font-family: 'Noto Sans', sans-serif;
        margin: 1rem 0;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & p {
        font-size: 14px;
        font-style: italic;
        color: rgb(120, 120, 120);
    }

    & .button {
        border: none;
        border-radius: 1rem;
        padding: .3rem .6rem;
        color: rgb(120, 120, 120);
        background: #e1e1e1;
        margin-bottom: .5rem;
        cursor: pointer;
    }

    & .button:hover {
        background: #ededed;

        &:active {
            transform: scale(.95);
        }
    }
}