.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 100vh;
}

.warningSize {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #0070f3;
  color: #fff;
}