.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgb(255, 255, 118);
    box-shadow: 0 .5rem 1rem rgba(92, 92, 1, 0.2);
    width: 25rem;
    height: 30rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    white-space: pre-wrap;
    z-index: 1000;

}

.handle {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background: rgb(96, 219, 68);
    transform: translate(-100%, -75%);
    opacity: 10%;
    transition: opacity 2s;

    &:hover {
        opacity: 100%;
        cursor: move;
    }

}

.iconEdit {
    color: rgb(120, 120, 120);
    margin: 1rem 0 0 auto;
    opacity: 50%;
    cursor: pointer;

    &:hover {
        color: #000;
        opacity: 100%;
    }
}

.description {
    & input, h3 {
        border: none;
        outline: none;
        background: none;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 1rem;

        &:focus {
            color: grey;
        }
    }

    & textarea, p {
        border: none;
        outline: none;
        resize: none;
        background: none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
        margin-top: 1rem;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;

    & p {
        font-size: 14px;
        font-style: italic;
        color: rgb(120, 120, 120);
        margin-right: 2rem;
    }

    .iconDelete {
        color: rgb(120, 120, 120);
        opacity: 50%;
        cursor: pointer;

        &:hover {
            color: red;
            opacity: 100%;
        }

    }

}